* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


/* PAGINA QUIENES SOMOS */

.parrafosDeHistoria p {
    font-weight: bold;
    font-style: oblique;
    color: #eeba0b;
    font-size: 20px;
}

.parrafosDeHistoria h3 {
    color: #C0C0C0;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quienesSomos {
    border: #000000 solid 4px;
    margin-bottom: 0%;
    background-color: #000000;
    
}

.quienesSomos h3 {
    display: inline-block;
    margin-top: 10%;
    padding-top: 3%;
    background-image: linear-gradient(to bottom, black, #eeba0b );
    width: 100%;
    height: 150px;
    
}

.quienesSomos img {
    width: 100%;
    margin-top: 0%;
}

/* PAGINA RECITALES *FALTA MODIFICAR*/

.imagenReci{
    display: inline-block;
    padding: 0%;
    margin-left: 12%; 
    margin-bottom: 5%;
    border: 10px solid #000000;
    max-width: 100%;
    max-height: 50%;
    border-radius: 5px;
    align-items: center;
}

.textoRecital h2 {
    display: inline-block;
    margin-top: 15%;
    font-size: 60px;
    color: #F8F4E3;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.fechaCiudad {
    border: #000000 solid 8px;
    border-radius: 5px;
    background-color: #232528;
    align-content: stretch;
}

.fechaCiudad li {
    color: #F8F4E3;
    text-align: center;
    font-size: 2rem;
    padding: 1%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }

/* .fechaCiudad {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin: 2%;
} */

.enlacesTickets {
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 50px 0px 80px 0px;
}
.enlacesTickets h3 {
    font-size: 60px;
    margin-bottom: 5%;
    font-weight: bold;
    color: #FFA400;
    font-family: 'Courier New', Courier, monospace;
}
.linkYoutube {
    display: inline-block;
    margin-left: 25%;
    padding-top: 3%;
    padding-bottom: 5%;
    width: 800px;
    text-align: center;
    border: 8px solid #000000;
    border-radius: 3px;
    background-color: #FFA400;
}

.linkYoutube h3 {
    font-size: 4rem;
    align-content: center;
    font-weight: bold;
    justify-content: center;
}


/* NAVBAR BOOTSTRAP */

.imagenNavbar {
    width: 60%;
    margin: 0%;
    padding: 0%;
}

.colorNavbar {
    background-color: #000000;
    position: top, fixed;
    width: 100%;
}

.inicioBoots {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.fuentesNavbar {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #eeba0b;
    
}

.botonResponsive {
    background-color: #FFA400;
}

/* FIN NAVBAR BOOTSTRAP */

#tituloRaiz {
    margin-top: 4%;
    padding: 0%;
    text-align: left;
}

.botonesMenu {
    background-color: #000000;
}

.botonesMenu {
    width: 600px;
    background-color: #000000;
}

.botonesMenu div a {
    border: 2px solid #FFA400;
    background-color: black;
    display: inline-block;
    text-align: end;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px 2px 1px 2px;
}

.letrasMenu {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    padding: 3px;
    width: 100%;
    background-color: #000000;
}


/* PAGINA PREGUNTAS FRECUENTES *****SE UNIFICA A PAGINA CONTACTO*** FALTA MODIFICAR/

/* #fondoPreguntas {
    background-image: url(../img/fondopreguntas.jpg);
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #eeba0b;
    color: #FFFD82;
    height: auto;
    margin-top: 15%;
} */
/* FUENTES Y MARGENES FAQS *****FALTA MODIFICAR***** */
.faqs p {
    border: 2px none #eeba0b;
    font-size: 10px;
    margin-top: 2%;
    color: #F8F4E3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
}

.faqs h2 {
    padding: 1%;
    margin-top: 20%;
    margin-bottom: 10%;
    font-size: 20px;
    color:#eeba0b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tituloContacto h2 {
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 15%;
    color: #F8F4E3;
    text-align: center;
}

.ubicacion h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

/* CONTACTO */

.contenedorContacto {
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 10%;
    gap: 40px;
}


.ubicacion {
    background-size: cover;
    background-color: #FFA400;
    border: #000000 solid 2px;
    /* margin-bottom: 3%; */
    flex-wrap: wrap;
}

/* .ubicacion iframe {
    border: #000000 solid 1px;
    margin-left: 28%;
    margin-bottom: 2%;
} */

.formulario {
    background-size: cover;
    background-color: #FFA400;
    border: #000000 solid 2px;
    flex-wrap: wrap;
}
.containerFaqs h3 {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 15%;
    color: #F8F4E3;
    text-align: center;
}
.containerFaqs {
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 10%;
    gap: 40px;
    
}
.faqs {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
    
}
.formulario form {
    border: #000000 solid 1px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bolder;
}

.formulario legend {
    margin-bottom: 4%;
    font-size: 2rem;
}

.tituloNosotros {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: linear-gradient(to left, black, yellow);
}

/* GRID Y FLEX RECITALES */
.cuerpoRecitales {
    display: grid;
    grid-template-areas:
        "botoneraRecitales botoneraRecitales botoneraRecitales"
        "anclaImg anclaImg anclaImg"
        "recital recital recital"
        "imagenReci imagenReci imagenReci"
        "imagenReci imagenReci imagenReci"
        "fechaReci fechaReci fechaReci"
        "tickets tickets tickets"
        "youtube youtube youtube"
        "redes redes redes"
        "copyright copyright copyright";
}

.anclaInicioImg {
    grid-area: anclaImg;
}

.botonesMenu {
    grid-area: botoneraRecitales;
}

.textoRecital {
    grid-area: recital;
}

.imagenReci {
    grid-area: imagenReci;
}

.fechaCiudad {
    grid-area: fechaReci;
}

.enlacesTickets {
    grid-area: tickets;
}

.linkYoutube {
    grid-area: youtube;
}

.enlacesRedes {
    grid-area: redes;
}

footer {
    grid-area: copyright;
}

/* MEDIA QUERIES - RECITALES */
@media screen and (max-width:600px) {
    .cuerpoRecitales {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        margin: 0;
        height: 100vh;
        gap: 10px;
        flex-wrap: wrap;

        grid-template-areas:
            "botoneraRecitales botoneraRecitales botoneraRecitales"
            "anclaImg anclaImg anclaImg"
            "recital recital recital"
            "imagenReci imagenReci imagenReci"
            "imagenReci imagenReci imagenReci"
            "fechaReci fechaReci fechaReci"
            "tickets tickets tickets"
            "youtube youtube youtube"
            "redes redes redes"
            "copyright copyright copyright";
    }

    .cuerpoRecitales {
        display: flex;
    }

    .anclaInicioImg img {
        grid-area: anclaImg;
        max-width: 100%;
        flex-wrap: wrap;

    }

    .botonesMenu {
        grid-area: botoneraRecitales;
        flex-wrap: wrap;
    }

    .textoRecital {
        grid-area: recital;
        max-width: 100%;
        margin: auto;

    }

    .imagenReci img {
        grid-area: imagenReci;
        max-width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }

    .fechaCiudad {
        grid-area: fechaReci;
        margin: auto;
        padding: 50px;
        text-align: center;
    }

    .enlacesTickets {
        grid-area: tickets;
        flex-wrap: wrap;

    }

    .linkYoutube iframe {
        grid-area: youtube;
        flex-wrap: wrap;
        margin: 5%;
        padding: 0%;
        max-width: 90%;
    }

    .linkYoutube {
        text-align: center;
    }

    .enlacesRedes {
        grid-area: redes;
        flex-wrap: wrap;

    }

    footer {
        grid-area: copyright;
        flex-wrap: wrap;
        margin: auto;
    }
}

/* INDEX NUEVO */

body {
    background-color: #000000;
    font-family: sans-serif;
    font-size: 3rem;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eeba0b;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #F8F4E3;

}

.grid-item p {
    z-index: 1;
    font-size: 20px;
    background: #FFA400;
    /* padding: 22px 10px; */
    /* text-align: bottom; */
    /* float: right; */
    /* justify-items:flex-end; */
}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 30px;
    padding: 30px;
    grid-auto-flow: dense;
    background-color: #000000;
}

.grid-containerProductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 30px;
    padding: 30px;
    grid-auto-flow: dense;
    background-color: #000000;
}

.tituloBienvenida {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    max-width: 100%;
    margin-top: 55%;
    margin-bottom: 5%;
    color: #F8F4E3;
    background-image: url('../img/bienvenidos.jpg');
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;

}

.tituloBienvenida h2 {
    font-size: 6rem;
    text-align: center;
    justify-content: center;
    right: 0;
    margin-left: 6%;
    max-width: 90%;

}

@media (min-width: 600px) {
    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }

    .tituloBienvenida {
        margin-top: 20%;
        margin-bottom: 10%;
        font-size: 2rem;

    }

    .formularioNewsletter {
        margin-left: 32%;
        padding: 5%;
        max-width: 90%;
    }

    .tituloSubtitulo {
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 5rem;
    }
}

.textoInicio {
    border: solid 6px #232528;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #C0C0C0;
    font-weight: bold;
    background-image: linear-gradient(to bottom, black, #eeba0b);
    max-width: 90%;
    margin: 5%;
    padding: 5%;
    justify-content: center;
}

footer {
    color: #eeba0b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #706C61;
    text-align: center;
    font-size: small;
    font-weight: bold;
    padding-top: 2%;
}

.formularioNewsletter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    border: solid 10px #eeba0b;
    background-color: #898980;
    display: inline-block;
    margin-bottom: 5%;
    padding: 8%;
    align-items: center;
    box-shadow: 2px 2px 10px;
}

/* PAGINA REDES */

.enlacesRedes {
    background-color: #706C61;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}

/*PRODUCTOS*/

.tituloSubtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    max-width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
    color: #F8F4E3;

}

.tituloSubtitulo h2 {
    font-size: 4rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 15%;
    /* margin-left: 15%; */
    max-width: 100%;
    background-color: #FFA400;
    color: #000000;
}

.tituloSubtitulo strong {
    font-size: 3rem;
    text-align: start;
    justify-content: left;
    right: 0;
    margin-left: 2%;
    max-width: 90%;
}

.subtituloDiscos {
    margin-top: 10%;
    margin-bottom: 5%;
}

.subtituloDiscos strong {
    font-size: 3rem;
    /* text-align: start; */
    justify-content: left;
    right: 0;
    margin-left: 2%;
    max-width: 90%;
    margin-top: 10%;
    padding-top: 10%;
    color: #F8F4E3;
}