* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.imagenNavbar {
  width: 60%;
  margin: 0%;
  padding: 0%; }

.colorNavbar {
  background-color: #000000;
  position: top, fixed;
  width: 100%; }

.inicioBoots {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }

.fuentesNavbar {
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #eeba0b; }

.botonResponsive {
  background-color: #FFA400; }

body {
  background-color: #000000;
  font-family: sans-serif; }

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeba0b;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #F8F4E3; }
  .grid-item p {
    z-index: 1;
    font-size: 20px;
    background: #FFA400; }
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 30px;
  padding: 30px;
  grid-auto-flow: dense;
  background-color: #000000; }

.tituloBienvenida {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  max-width: 100%;
  margin-top: 40%;
  margin-bottom: 5%;
  color: #F8F4E3;
  background-image: url("../img/bienvenidos.jpg");
  background-position: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 500px; }
  .tituloBienvenida h1 {
    font-size: 65px;
    text-align: center;
    justify-content: center;
    right: 0;
    margin-left: 6%;
    max-width: 90%;
    padding-top: 10px; }

.textoInicio {
  border: solid 6px #232528;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, black, #eeba0b);
  max-width: 90%;
  margin: 5%;
  padding: 5%;
  justify-content: center;
  text-align: center; }

.formularioNewsletter {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  border: solid 10px #eeba0b;
  background-color: #898980;
  width: 300px;
  margin: auto;
  padding: 15px 20px;
  align-items: center;
  box-shadow: 2px 2px 10px; }
  .formularioNewsletter legend {
    font-size: 25px; }
    .formularioNewsletter legend input {
      padding: 5px 5px;
      border: #232528 solid 2px;
      border-radius: 8px; }

.enlacesRedes {
  background-color: #706C61;
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 0;
  padding-top: 2%;
  padding-bottom: 5%;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000000; }
  .enlacesRedes a :hover {
    transform: scale(1.3); }
  .enlacesRedes h3 {
    font-size: 20px;
    text-decoration: underline; }

footer {
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #706C61;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-top: 2%; }

.cuerpoRecitales {
  background-image: linear-gradient(to left, black, yellow);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.textoRecital h1 {
  display: inline-block;
  margin-top: 15%;
  margin-bottom: 5%;
  padding-top: 20px;
  font-size: 70px;
  color: #000000;
  text-align: center;
  width: 100%;
  font-weight: bold; }

.imagenReci {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: center; }
  .imagenReci img {
    border: 8px solid #000000;
    max-width: 95%;
    height: 800px; }

.fechaCiudad {
  display: flex;
  border: #000000 solid 8px;
  border-radius: 5px;
  background-color: #000000;
  max-width: 95%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5%; }
  .fechaCiudad h2 {
    font-size: 35px;
    color: #F8F4E3;
    font-weight: bold;
    text-align: left;
    margin-left: 5%; }
  .fechaCiudad li {
    padding: 5px;
    color: #F8F4E3;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none; }

.enlacesTickets {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background-color: #000000;
  max-width: 95%;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  margin-bottom: 8%;
  margin-top: 8%; }
  .enlacesTickets h2 {
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: bolder;
    color: #FFA400;
    text-align: center; }
  .enlacesTickets a {
    padding: 50px 50px;
    font-size: 30px;
    text-decoration: none;
    color: #F8F4E3;
    font-weight: bold; }

.linkYoutube {
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 5%;
  width: 600px;
  text-align: center;
  border: 8px solid #000000;
  border-radius: 3px;
  background-color: #FFA400; }
  .linkYoutube h2 {
    font-size: 50px;
    align-content: center;
    font-weight: bold;
    color: #000000; }

.bodyGradiente {
  background-image: linear-gradient(to left, black, yellow);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.tituloSubtitulo {
  display: grid;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 30%;
  color: #000000; }
  .tituloSubtitulo h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 15%;
    max-width: 100%;
    color: #000000; }
  .tituloSubtitulo h2 {
    font-size: 40px;
    text-align: center;
    max-width: 90%;
    margin-left: 5%; }

.subtituloDiscos {
  display: grid;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold; }
  .subtituloDiscos h2 {
    font-size: 40px;
    margin-left: 5%;
    text-align: center;
    max-width: 90%;
    margin-top: 3%;
    color: #000000; }

.grid-containerProductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 30px;
  padding: 30px;
  grid-auto-flow: dense;
  background-color: #000000; }
  .grid-containerProductos a {
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 180px;
    padding-bottom: 5px;
    background-color: #000000;
    border-radius: 1em;
    border: solid #FFA400;
    color: #FFA400;
    text-transform: uppercase;
    padding: 1em 1em; }

.bodyGradiente {
  margin: 0;
  background-image: linear-gradient(to left, black, yellow); }

.tituloContacto h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 120px;
  padding-bottom: 2%;
  margin-top: 5%;
  color: #000000;
  text-align: center; }

.contenedorContacto {
  display: grid;
  padding: 2px;
  grid-auto-flow: dense;
  background-color: #000000;
  align-items: center;
  background-image: linear-gradient(to left, black, yellow); }

.ubicacion {
  max-width: 100%;
  width: 600px;
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  border: whitesmoke solid 8px;
  background-color: #000000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px black;
  height: auto; }
  .ubicacion h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color: #FFA400;
    border: #000000 solid 5px;
    padding: 10px;
    text-align: center;
    width: 100%; }
  .ubicacion iframe {
    border: #000000 solid 5px;
    max-width: 100%; }

.formContacto {
  max-width: 100%;
  display: grid;
  flex-wrap: wrap;
  width: 600px;
  height: auto;
  margin: auto;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 10px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 8px solid #F8F4E3;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url(../img/fondopreguntas.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .formContacto h2 {
    color: #FFA400;
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
    justify-content: center;
    margin-top: 25px; }
  .formContacto input,
  .formContacto textarea {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 7px;
    box-sizing: border-box;
    color: #F8F4E3;
    font-size: 18px;
    border: none;
    background: rgba(0, 0, 0, 0.9); }
  .formContacto textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }

#botonContacto {
  background: #FFA400;
  color: #000000;
  padding: 10px;
  font-size: 20px;
  font-weight: bold; }

#botonContacto:hover {
  cursor: pointer; }

.containerFaqs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  grid-auto-rows: minmax(300px, auto);
  max-width: 100%;
  gap: 20px;
  padding: 15px;
  grid-auto-flow: dense;
  background-color: #000000;
  align-items: center;
  font-size: 20px;
  color: #F8F4E3;
  background-image: linear-gradient(to left, black, yellow); }
  .containerFaqs p {
    padding: 0.5px 2px 0.5px 2px;
    text-align: center;
    justify-items: center; }

.faqs {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  max-width: 100%;
  width: 600px;
  height: 370px;
  margin: auto;
  border: 6px solid whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px black; }

.faqsTitulo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  max-width: 100%;
  width: 600px;
  height: 100%;
  border: 6px solid whitesmoke; }
  .faqsTitulo h2 {
    font-size: 80px; }

.bodyNosotros {
  background-image: linear-gradient(to left, black, yellow);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .bodyNosotros h1 {
    color: #000000;
    font-size: 70px;
    padding-top: 10px;
    font-weight: bold;
    margin-top: 150px;
    text-align: center; }
  .bodyNosotros h2 {
    color: black;
    font-size: 40px;
    padding: 30px; }

.quienesSomos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border: #000000 solid 4px;
  margin-bottom: 0%;
  background-color: #000000; }

.cardsNosotros2 {
  display: flex;
  width: 500px;
  height: 400px;
  margin: 20px;
  border: 8px solid whitesmoke;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: 2px 2px 10px black;
  justify-content: center; }
  .cardsNosotros2 img {
    width: auto;
    min-height: 300px; }

.contenidoCards {
  display: flex;
  padding: 50px;
  width: 640px;
  max-height: 500px; }

.cardsNosotros2 :hover {
  transform: translateY(-1%); }

.cardsNosotros2 .contenidoCards {
  padding: 30px;
  text-align: center; }

.contenidoCards p {
  width: 100%;
  max-height: 95%;
  font-weight: bold;
  font-style: oblique;
  color: #B88B4A;
  font-size: 20px;
  line-height: 1.0; }

/*MEDIA QUERIE INDEX/PRODUCTOS*/
@media (min-width: 640px) {
  .wide {
    grid-column: span 2; }
  .tall {
    grid-row: span 2; }
  .tituloBienvenida {
    margin-top: 13%;
    padding-top: 4%; }
    .tituloBienvenida h1 {
      font-size: 90px; }
    .tituloBienvenida h2 {
      font-size: 90px; }
  .formularioNewsletter {
    margin: auto;
    padding: 5%;
    width: 450px; }
  .textoInicio {
    font-size: 30px; }
  .tituloSubtitulo {
    margin-top: 10px;
    margin-bottom: 10px; }
    .tituloSubtitulo h1 {
      font-size: 65px;
      padding-top: 15px; }
    .tituloSubtitulo h2 {
      font-size: 55px; }
  .subtituloDiscos {
    margin-top: 15px; }
    .subtituloDiscos h2 {
      font-size: 55px;
      margin-bottom: 10px; } }

/* MEDIA QUERIE NOSOTROS*/
@media (max-width: 640px) {
  .bodyNosotros h1 {
    font-size: 40px;
    padding: 10px; }
  .cardsNosotros2 {
    max-width: auto;
    height: 300px; }
    .cardsNosotros2 img {
      max-width: 100%;
      height: auto;
      justify-content: center;
      line-height: 1.5; }
  .quienesSomos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto; }
  .contenidoCards {
    padding: 15px 10px 15px 10px;
    background: transparent;
    text-align: center;
    justify-content: center;
    height: 100%; }
    .contenidoCards p {
      font-size: 15px; }
  .bodyNosotros h1 {
    margin-top: 150px;
    justify-content: center; }
  h2 {
    text-align: center; } }

/* MEDIA QUERIE - RECITALES */
@media screen and (max-width: 600px) {
  .cuerpoRecitales {
    display: flex;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    margin: 0;
    height: 100vh;
    gap: 10px;
    flex-wrap: wrap;
    grid-template-areas: "navbar navbar" "recital recital" "imagenRec imagenRec" "imagenRec imagenRec" "fechaReci fechaReci" "tickets tickets" "youtube youtube" "youtube youtube" "redes redes" "copyright copyright"; }
  .inicioBoots {
    grid-area: navbar; }
  .textoRecital {
    grid-area: recital;
    margin: auto; }
    .textoRecital h1 {
      margin-top: 200px;
      font-size: 40px; }
  .imagenReci {
    grid-area: imagenRec;
    max-width: 90%;
    margin-top: 15%;
    margin-bottom: 10%; }
    .imagenReci img {
      max-width: 100%;
      height: 470px; }
  .fechaCiudad {
    grid-area: fechaReci;
    max-width: 90%; }
    .fechaCiudad h2 {
      font-size: 20px;
      padding-bottom: 30%; }
    .fechaCiudad ol li {
      font-size: 13px;
      padding: 2px;
      margin-left: 0%;
      text-align: center;
      width: 100%; }
  .enlacesTickets {
    grid-area: tickets;
    max-width: 90%;
    text-align: center;
    justify-items: center;
    flex-wrap: wrap; }
    .enlacesTickets a {
      font-size: 20px; }
    .enlacesTickets h2 {
      font-size: 30px; }
  .linkYoutube {
    grid-area: youtube;
    flex-wrap: wrap;
    margin: 10px; }
    .linkYoutube iframe {
      max-width: 90%; }
  .enlacesRedes {
    grid-area: redes;
    max-width: 100%;
    flex-wrap: wrap;
    margin-bottom: 0px; }
  footer {
    grid-area: copyright;
    flex-wrap: wrap;
    width: 100%;
    color: #000000; }
    footer p {
      font-size: 13px;
      margin-bottom: 2px; }
    footer strong {
      width: 100%;
      font-size: 13px;
      margin-top: 2px; } }

/* MEDIA QUERIE CONTACTO*/
@media screen and (max-width: 600px) {
  .tituloContacto h1 {
    font-size: 40px;
    padding-top: 130px; }
  .contenedorContacto {
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-auto-rows: minmax(300px, auto); }
  .ubicacion {
    max-width: 90%;
    width: 350px; }
  .formContacto {
    display: grid;
    flex-wrap: wrap;
    max-width: 90%;
    width: 350px;
    height: auto;
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat; }
    .formContacto h2 {
      justify-content: center;
      text-align: center; }
  .faqs {
    max-width: 90%;
    width: 350px; }
    .faqs p {
      font-size: 15px;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px; }
  .faqsTitulo {
    height: 100px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px; }
    .faqsTitulo h2 {
      font-size: 40px; } }
