 /*PRODUCTOS*/
  .bodyGradiente {
    background-image: linear-gradient(to left, black, yellow);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 .tituloSubtitulo {
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #000000;
    
  
    h2 {
      font-size: 55px;
      font-weight: bold;
      text-align: center;
      justify-content: center;
      margin-bottom: 10%;
      margin-top: 15%;
      max-width: 100%;
      color: #000000;
    }
  
    strong {
      font-size: 55px;
      text-align: center;
      justify-content: left;
      margin-left: 2%;
      max-width: 90%;
    }
  }
  
  .subtituloDiscos {
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: bold; 
  
    strong {
      font-size: 55px;
      margin-left: 2%;
      max-width: 90%;
      margin-top: 10%;
      padding-top: 10%;
      color: #000000;
    }
  }

  .grid-containerProductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 30px;
    padding: 30px;
    grid-auto-flow: dense;
    background-color: #000000;
  }