.imagenNavbar {
    width: 60%;
    margin: 0%;
    padding: 0%;
  }
  
  .colorNavbar {
    background-color: #000000;
    position: top, fixed;
    width: 100%;
  }
  
  .inicioBoots {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .fuentesNavbar {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #eeba0b;
    
  }
  
  .botonResponsive {
    background-color: #FFA400;
  }
