/*MIXIN APLICADO SOLAMENTE PARA DESAFIO ***PAGINA RECITALES***/

@mixin imagenesConParametros ($size, $border, $tam){
    width: $size;
    border: $border;
    border-radius: $tam;

}
.imagenesMixin {
    @include imagenesConParametros(500px, 8px solid whitesmoke, 500px);

}
